pipeline/pl_if.json
{
	"name": "pl_if",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('subject')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@startswith(item(), 'm')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set variable2",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "start_c",
											"value": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Append variable1",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "start_m",
											"value": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "final_list_m",
					"value": {
						"value": "@variables('start_m')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "final_list_c",
					"value": {
						"value": "@variables('start_c')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"subject": {
				"type": "Array",
				"defaultValue": [
					"Maths",
					"Maths2",
					"Math3",
					"C++",
					"C"
				]
			},
			"start_m": {
				"type": "Array"
			},
			"start_c": {
				"type": "String"
			},
			"final_list_m": {
				"type": "Array"
			},
			"final_list_c": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-09T04:07:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}